.container {
    position: relative;
}

.headblock {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}

.logo {
    width: 40px;
}

.userple {
    border-radius: 50%;
}

.user {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    transition: .2s;
    background: none;
    background-color: var(--background-lightest);
}

.user:hover {
    cursor: pointer;
}

.nullload {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    gap: 20px;
    color: var(--color-darker);
}

.nullload>svg {
    width: 40px;
}

.column {
    --pattern: 64px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    user-select: none;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
}

.column>div {
    transition: .2s;
}

.column>div:hover {
    background-color: var(--background-lightest);
}

.uhPhoto {
    width: var(--pattern);
    height: var(--pattern);
    padding: 5px;
}

.uhPhoto>img {
    background-color: var(--background-lightest);
    padding: 4px;
    border-radius: 50%;
}

.uhPhoto:has(> img.waiting) {
    background-image: url("https://assets.myoasis.tech/accounts/user-no-image.svg");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}

.uhData {
    width: 100%;
    margin-left: calc(0px - var(--pattern));
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    padding-left: calc(var(--pattern) + 5px);
    font-weight: 500;
}

.uhToprow {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.uhTopname {
    flex: 1;
    line-height: 22px;
    min-height: 22px;
}

.uhToptime {
    font-size: 12px;
    color: var(--color-dark);
    min-height: 18px;
    line-height: 18px;
}

.uhMessage {
    color: var(--color-darker);
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    min-height: 20px;
}

.footer {
    position: sticky;
    bottom: 20px;
    margin-top: 40px;
    margin-left: auto;
    display: inline-flex;
    margin-right: 20px;
    scale: 1.2;
}

.addnew {
    background-color: var(--theme-blue);
    /* color: var(--background-color); */
}