.container {
    position: relative;
}

.headblock {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}

.slflow {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}
.sltitle {
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
}

.logo {
    width: 40px;
}

.userple {
    border-radius: 50%;
}

.user {
    width: 40px;
    height: 40px;
    padding: 2px;
    z-index: 1;
    cursor: pointer;
    background-color: var(--background-lightest);
    border-radius: 50%;
}

.user>img {
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
}

.user:has(> img.waiting) {
    background-image: url("https://assets.myoasis.tech/accounts/user-no-image.svg");
    background-position: center;
    background-size: 36px;
    background-repeat: no-repeat;
}

.nullload {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    gap: 20px;
    color: var(--color-darker);
}

.nullload>svg {
    width: 40px;
}

.colrow {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column {
    --pattern: 64px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    user-select: none;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
}

.colrow:has(+ .footer),
.nullload:has(+ .footer) {
    margin-bottom: auto;
}

.column>div {
    transition: .2s;
}

.column>div:hover {
    background-color: var(--background-lighter);
}

.checker {
    display: none;
}

.checker:checked+.uhData {
    background-color: var(--theme-green-trans);
}

.uhPhoto {
    width: var(--pattern);
    height: var(--pattern);
    padding: 5px;
    z-index: 1;
}

.uhPhoto>img {
    background-color: var(--background-lightest);
    padding: 4px;
    border-radius: 50%;
    min-width: 100%;
    min-height: 100%;
}

.uhPhoto:has(> img.waiting) {
    background-image: url("https://assets.myoasis.tech/accounts/user-no-image.svg");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}

img.waiting {
    display: none;
}

.uhData {
    width: 100%;
    margin-left: calc(0px - var(--pattern));
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    padding-left: calc(var(--pattern) + 5px);
    font-weight: 500;
}

.uhRow {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.uhTopname {
    flex: 1;
    line-height: 22px;
    min-height: 22px;
}

.uhToptime {
    font-size: 12px;
    color: var(--color-dark);
    min-height: 18px;
    line-height: 18px;
}

.uhMessage {
    color: var(--color-darker);
    flex: 1;
    font-size: 13px;
    line-height: 20px;
    min-height: 20px;
}

.uhPending:not(:empty) {
    color: var(--background-color);
    background-color: var(--theme-blue);
    font-size: 12px;
    line-height: 12px;
    min-width: 20px;
    padding: 2px 6px;
    font-weight: 700;
    border-radius: 14px;
}

.footer {
    position: sticky;
    bottom: 20px;
    margin-top: 40px;
    margin-left: auto;
    display: inline-flex;
    margin-right: 20px;
}

.addnew {
    background-color: var(--theme-blue);
    width: 50px;
    height: 50px;
    /* color: var(--background-color); */
}