.loading {
    position: absolute;
    inset: 0;
    background-color: var(--background-light);
    z-index: 111;
}
.loading > svg {
    width: 40px;
}
.version {
    position: absolute;
    inset: auto 0 0 0;
    padding: 0 20px 20px;
    color: var(--color-darker);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}